@font-face {
    font-family: 'FundamentalBrigadeRegular';
    src: url('fundamental_brigade-webfont.eot');
    src: url('fundamental_brigade-webfont.eot?#iefix') format('embedded-opentype'),
         url('fundamental_brigade-webfont.woff') format('woff'),
         url('fundamental_brigade-webfont.ttf') format('truetype'),
         url('fundamental_brigade-webfont.svg#FundamentalBrigadeRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{
	background: #800f0f;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#fff;
	overflow-x:hidden;
}

h1{
    font-family: 'FundamentalBrigadeRegular';
    font-size: 300px;
    margin: 0px;
    padding-top: 130px;
}
.h1green{
    color: #5edd00;
    text-shadow: 1px 12px 15px #000000;
    filter: dropshadow(color=#000000, offx=1, offy=3);
        
}
.h1gold{
    color: #ffde00;
    text-shadow: 1px 12px 15px #000000;
    filter: dropshadow(color=#000000, offx=1, offy=3);
}
h2{
    font-family: 'FundamentalBrigadeRegular';
     font-size: 120px;
     margin-top: 10px;
     color: #dbdee0;
     
     text-shadow: 1px 8px 8px #000000;
    filter: dropshadow(color=#000000, offx=1, offy=3);
}
h4{
    font-family: 'FundamentalBrigadeRegular';
     font-size: 40px;
     margin: 0;
     color: #dbdee0;
     
     text-shadow: 1px 6px 6px #000000;
    filter: dropshadow(color=#000000, offx=1, offy=3);
}

#main{
    width:1000px;
    height: 700px;
    margin: 0 auto;
    text-align: center;
    
    background: rgb(223,26,26); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNkZjFhMWEiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI2MSUiIHN0b3AtY29sb3I9IiM4MDBmMGYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvcmFkaWFsR3JhZGllbnQ+CiAgPHJlY3QgeD0iLTUwIiB5PSItNTAiIHdpZHRoPSIxMDEiIGhlaWdodD0iMTAxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-radial-gradient(center, ellipse cover,  rgb(223,26,26) 0%, rgb(128,15,15) 61%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgb(223,26,26)), color-stop(61%,rgb(128,15,15))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgb(223,26,26) 0%,rgb(128,15,15) 61%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgb(223,26,26) 0%,rgb(128,15,15) 61%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgb(223,26,26) 0%,rgb(128,15,15) 61%); /* IE10+ */
    background: radial-gradient(center, ellipse cover,  rgb(223,26,26) 0%,rgb(128,15,15) 61%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#df1a1a', endColorstr='#800f0f',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}